{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pera Kids{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'playground/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'playground/css/components/navbar.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    
    {% include 'playground/partials/navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'playground/partials/footer.html' %}

    {% block scripts %}{% endblock %}
</body>
</html>